extends base.pug
block style 
    style
        include ../static/style.css     
block script 
    script
        include ../static/script.js


block content   
    section#introSection
        div  Welcome to Adarsha Dance Academy
        div.small  Eat Sleep Dance Repeat

    section#missionSection
        h2 Our missions
        div.card 
            h3 Dance perfection
            div.card-box 
                div.card-img 
                    img(src="/static/img/1.png")
                div.card-content
                    p This is the best dance academy of Nepal
        
        div.card 
            h3 Dance the way you like
            div.card-box 
                div.card-img 
                    img(src="/static/img/2.png")
                div.card-content
                    p This is the best dance academy of Nepal
        div.card 
            h3 Expert teaching
            div.card-box 
                div.card-img 
                    img(src="/static/img/3.png")
                div.card-content
                    p This is the best dance academy of Nepal

    section#sponsorsSection
        h2 Our sponsors
        div#sponsors
            img(src="/static/img/logo1.png", alt="Sponsors 1" class="spImages")
            img(src="/static/img/logo2.png", alt="Sponsors 2" class="spImages")
            img(src="/static/img/logo3.png", alt="Sponsors 3" class="spImages")
            img(src="/static/img/logo4.png", alt="Sponsors 4" class="spImages")    

